<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net48" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="DialogBoxForMaterialDesignToolkitInXaml" version="1.0.0" targetFramework="net48" />
  <package id="Dynamitey" version="3.0.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="ExtendedWPFConverters" version="2.0.3" targetFramework="net48" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.2" targetFramework="net48" />
  <package id="HiNetCloud.Enterprises.itext.layout" version="23.10.7.8" targetFramework="net48" />
  <package id="itext" version="8.0.4" targetFramework="net48" />
  <package id="itext.bouncy-castle-adapter" version="8.0.4" targetFramework="net48" />
  <package id="itext.commons" version="8.0.4" targetFramework="net48" />
  <package id="itext.font-asian" version="8.0.4" targetFramework="net48" />
  <package id="itext.layout.core" version="1.0.1" targetFramework="net48" />
  <package id="itext.pdfhtml" version="5.0.4" targetFramework="net48" />
  <package id="itext7" version="8.0.4" targetFramework="net48" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.4" targetFramework="net48" />
  <package id="itext7.commons" version="8.0.4" targetFramework="net48" />
  <package id="itext7.font-asian" version="8.0.4" targetFramework="net48" />
  <package id="itext7.licensekey" version="3.1.5" targetFramework="net48" />
  <package id="itext7.pdfhtml" version="5.0.4" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.1.0" targetFramework="net48" />
  <package id="MaterialDesignInXamlToolkitAddOns" version="0.0.6" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.122" targetFramework="net48" />
  <package id="Net4x.iText.Commons" version="1.1.0" targetFramework="net48" />
  <package id="Net4x.iText.IO" version="1.1.0" targetFramework="net48" />
  <package id="Net4x.iText.Kernel" version="1.1.0" targetFramework="net48" />
  <package id="Net4x.iText.Layout" version="1.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.6" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>